
@media all and (max-width: 1200px) {
	.modalContent img {
		max-width: 600px;
	}

	.innerWrapper {
		padding: 50px 20px;
		width: 100%;
	}

	.sidebar{
		width: 100%;
		padding: 50px 0 0 0;
		// margin-left: 20px;
	}

	ul.nav-links li:not(.gallery-links) {
		display: inline;
		margin-right: 10px;
	}

    .item {
  		// width: 48%;
  		float: left;
  		margin: 1%;
	}

	ul.nav-links li {
		position: relative;
	}

	ul.secondNav {
		// display:block;
		position: absolute;
		top: 20px;
		z-index: 999;
		text-indent: 0px;
		background-color: rgba(255,255,255,0.8);
		left: 0;
		a {
			padding: 5px;
			display: list-item;
		}
	}

} // END 1200px

@media all and (max-width: 400px) {
    .item {
  		width: 100%;
	}

	.innerWrapper.item{
		margin-bottom: 20px;
	}

	.wrap {
		p {
			padding: 0 15px;
		}
	}
} // END 400px

@media all and(max-width: 320px) {
	ul.contact-link.secondNav {
		left: -20px;
	}
} // END 320px

