
// NORMALIZE
@import 'normalize';

///////////// D E F A U L T /////////////
////////////////////////////////////////

html {
	font-size: 10px;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
} &:focus {
	outline: none;
}

////////////// H E A D E R //////////////
////////////////////////////////////////

///////////////// N A V /////////////////
////////////////////////////////////////

///////////////// M A I N ///////////////
////////////////////////////////////////

////////////// F O O T E R //////////////
////////////////////////////////////////



// MEDIA QUERIES
@import 'mq';
