
// NORMALIZE
@import 'normalize';

///////////// D E F A U L T /////////////
////////////////////////////////////////

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.innerCrapper{
	margin: 0 auto;
	width: 70%;	
}

html {
	font-size: 10px;
}

img {
	max-width: 100%;
}

.photoThumbnails p {
	color: pink;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: blue;
} &:focus {
	outline: none;
}

.photoThumbnails a{
	outline:0;
}

////////////// H E A D E R //////////////
////////////////////////////////////////

///////////////// N A V /////////////////
////////////////////////////////////////

///////////////// M A I N ///////////////
////////////////////////////////////////



.photoThumbnails a {
	img {
		// width: 30%;
		// flex: 1 0 30%;
		height: auto;
	}
}

.arrowDiv{
	position: fixed;
	width: 30%;
	z-index: 1500;
	height: 100%;
}

.arrowDiv a{
	height: 100%;
	width: 100%;
	display: inline-block;
	outline: 0;
}

.arrowLeftDiv a{
	cursor: url("../i/leftArrow.png"), auto;
	
}

.arrowRightDiv a{
	cursor: url("../i/rightArrow.png"), auto;
	
}

.arrowRightDiv{
	top:0;
	right:0;
}


.arrowLeftDiv{
	top:0;
	left:0;
	
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	// z-index: 99999;
	display: none;
}

.overlayBKG p{
	color: transparent;
	margin: 0;
	padding: 0;
}

.overlayBKG{
	width: 100%;
	height: 100vh;
}

.modal {
	background: white;
	padding: 40px;
	// width: 60%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// display: none;
	z-index: 999;
}
.modalContent {
	position: relative;
	img {
		position: relative;
		z-index: 1;
		top: 0;
	}
	.newImage {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
		opacity: 0;
		transition: opacity 0.5s ease;
	}
	&.transition {
		.newImage {
			opacity: 1;
		}
	}
}

.hidden {
	display:none;
}

.open {
	display: block;
}
////////////// M A S O N R Y //////////////
////////////////////////////////////////

#container {
	float: left;
  	width: 100%;
  	margin:0 auto;
  // padding-left: 20px;
  // padding-right: 1%;
  	margin-bottom: 100px;
}

/* items are not quite 1/3 wide */
.item {
  // width: 31.2%;
  // 3 column
  width: 23%;
  // 4 column
  // width: 100%;
  float: left;
  margin: 1%;

}

/* images cover up the gap */
.item img {
  display: block;
  width: 100.5%;
}

/**** Transitions for Masonry ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


// MEDIA QUERIES
@import 'mq';
